:root {
    --cblack: #000000;
    --cgrey: #aaaaaa;
    --cred: #aa0000;
    --cdarkred: #550000;
    --cblue: #0C9CF6;
    --cdarkblue: #0C4E77;
    --cyellow: #B7B400;
}

body {
    font-family: Courier, monospace;
    font-size: 90%;
    width: 600px;
    margin-left: calc(50vw - 300px);
}

a {
    color: var(--cblue);
}

a:hover {
    color: var(--cblack);
}

a:visited {
    color: var(--cblue);
}

.content {
}

.header {
    font-weight: bold;
    margin: 20px 0px 30px 0px;
}

.header .title {
    display: inline;
}

.header .title a {
    font-size: xx-large;
    text-decoration: none;
    color: var(--cred);
}

.header .menu {
    display: inline;
}

.header .menu a {
    margin-left: 20px;
    text-decoration: none;
    color: var(--cgrey);
}

.header .menu a:hover {
    color: var(--cblack);
}

.list {
}

.list ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.5em;
}

.list span {
    color: var(--cgrey);
}


.post {
    text-align: justify;
    line-height: 1.5em;
}

.footer {
    color: var(--cgrey);
    font-size: 90%;
}

.footer a {
    color: var(--cdarkblue);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}
